<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>My Bunker</h4>
        <p>
          Kornblumenweg 1,<br/>
          +49 176 9143 3995, <br/>
          Bruckmühl, Germany.
        </p>
      </div><!-- /col-md-4 -->
      <div class="col-md-4">
        <h4>My Links</h4>
        <p>
          <a href="https://github.com/cebor">GitHub</a><br/>
          <a href="https://plus.google.com/+FelixItzenplitz">Google+</a><br/>
          <a href="https://twitter.com/zappytwain">Twitter</a><br/>
          <a href="http://www.facebook.com/FelixItzenplitz">Facebook</a>
        </p>
      </div><!-- /col-md-4 -->
      <div class="col-md-4">
        <h4>About Felix</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, rerum.</p>
      </div><!-- /col-md-4 -->

    </div><!-- /row -->
  </div><!-- /container -->
</div>
