<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<img src="images/me.jpg" alt="Felix" class="img-circle">
				<h1>Hi, I am Felix!</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem ipsum debitis, porro iste totam eos, excepturi quia repellat sequi, atque voluptate! Id, tenetur dolorum labore magnam adipisci ullam maiores officia.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore reiciendis nesciunt aliquid voluptate officia praesentium obcaecati odio quibusdam veritatis esse?</p>

			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->

<!-- +++++ Projects Section +++++ -->
<div class="container pt">
	<div class="row mt centered">
		<div class="col-md-4">
			<a href="#"><img src="images/techs/html5.png" alt="html5"></a>
      <p>HTML5</p>
		</div>
		<div class="col-md-4">
			<a href="#"><img src="images/techs/css3.png" alt="css3"></a>
      <p>CSS3</p>
		</div>
		<div class="col-md-4">
			<a href="#"><img src="images/techs/javascript.png" alt="js"></a>
      <p>JavaScript</p>
		</div>
	</div><!-- /row -->
	<div class="row mt centered">
		<div class="col-md-4">
			<a href="#"><img src="images/techs/angular.png" alt="angular"></a>
      <p>AngularJS</p>
		</div>
		<div class="col-md-4">
			<a href="#"><img src="images/techs/django.png" alt="django"></a>
      <p>django</p>
		</div>
		<div class="col-md-4">
			<a href="#"><img src="images/techs/rails.png" alt="rails"></a>
      <p>Ruby on Rails</p>
		</div>
	</div><!-- /row -->
  <div class="row mt centered">
    <div class="col-md-4">
      <a href="#"><img src="images/techs/node.png" alt="node"></a>
      <p>NodeJS</p>
    </div>
    <div class="col-md-4">
      <a href="#"><img src="images/techs/mongo.png" alt="mongo"></a>
      <p>mongoDB</p>
    </div>
    <div class="col-md-4">
      <a href="#"><img src="images/techs/jquery.png" alt="jquery"></a>
      <p>jQuery</p>
    </div>
  </div><!-- /row -->
</div><!-- /container -->
